.workspace {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #f7f8fd;
    background-image: url('../../assets/bg-dot.png');
    background-size: 4px;
    background-repeat: repeat;
    &__container {
        flex: 1 1 auto;
        overflow: auto;
        display: flex;
        flex-direction: row-reverse !important;
    }
}
