.upload__container{
    margin: 20px;
    p{
        color: grey !important;
        strong{
            color: white !important;
            font-weight: 700;
        }
    }
    svg{
        color: white;
    }
    span{
        color: white;
    }
}