@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
    text-align: center;
    color: #fff;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.layout {
    overflow: hidden;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

.logo {
    border-radius: 50px;
    width: 60px;
    height: 60px;

    &__container {
        display: flex;
        align-items: center;
        border: none;
        box-shadow: none;
    }

    &__title {
        font-family: "Pacifico", cursive;
        font-size: 25px;
        margin-bottom: 0 !important;
        color: #2f314e;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    text-align: start;
    min-height: 120px;
    line-height: 120px;
    color: #fff;
    background-color: #080c30;

    h1 {
        color: white;
        font-size: 25px;
        text-align: center;
    }

    &__list {
        li {
            display: flex;
            align-items: center;

            svg {
                height: 40px;
                width: 40px;
                margin: 10px;
            }

            div {
                font-size: 16px;
                margin: 0;
                color: white;

                strong {
                    font-weight: 900;
                }
            }
        }
    }
    &__upload{
        border: 1px solid white;
        border-radius: 10px;
        margin: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: none !important;
    }
    &__info{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15% 10px 10px 10px;
        div{
            color: white;
        }
        svg{
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
        }
    }
}

.footer{
    &__text{
        text-align: center;
        color: gray;
    }
}