.aside{
    background-color: white !important;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.input__container{
   display: flex;
   flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    &__color{
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            margin: 5px;
        }
    }
    div {
        border-radius: 0;
    }
    span{
        color: black;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.action{
    &__title{
        font-size: 15px !important;
        color: grey !important;
    }
    &__container{
        margin: 20px;
    }
}

.flex__color {
    display: flex;
    justify-content: space-between;
}